:root {
  --orange: #FFED4F;
  --green: #009C49;
  --white: #ffffff;
  --black: #000000;
  --yellov: #FFED4F;
  --cyan: #0DFEA8;
  --violet-light: #FFD9FF;
  --dark: #303030;
  --dark-grey: #303030;
  --light-grey: #5A5A5A;
  --ultra-light-grey: #A6A4A4;
  --bg: #FFFCDE;

  --transitionDuraction: 200ms;
  --font-Spoof: 'Spoof';
  --font-CircularStd: 'Circular Std';
}